h1{
    text-align: center;
    color: #cc0000;
}

h2{
    text-align: center;
    color: #494456;
}

.image{
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
}

.imageText{
    max-width: 300px;
    max-height: 300px;
    display: block;
    
    margin-right: auto;
}

p{
    text-align: center;
    padding-bottom: 50px;
    font-size: 32px;
}
q{
    text-align: center;
    padding-bottom: 50px;
    font-size: 32px;  
}

.hidden{
    display: none;
}

.background{
    background-color: white;
}

footer{
    text-align: end;
    margin-bottom: auto;
    padding: 50px;
    
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #282c34; */
}


ul {
    list-style-type: none;
    margin: auto;
    padding: 0;

    background-color: #353141;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}


li a:hover {
    background-color: #d6d2df;
}

